h3 {
    color: red;
}

#table {
    width: 400px;
    height: 300px;
}

.border {
    width: 33.33%;
    height: 75px;
    border-style: solid;
    border-color: black;
}

#calculate {
    width: 66.66%;
}

#reset {
    background-color: lightgrey;
}