@inherits LayoutComponentBase

<PageTitle>BlazorLearning</PageTitle>

<div class="page">
    <div class="sidebar">
        <Navigation />
    </div>
</div>

<main>
    <article>
        @Body
    </article>
</main>
