/*

* {
    background-color: rgba(0, 5, 255, 0.12);
}

*/

#Navigation {
    position: fixed;
    left: 0px;
    width: 150px;
}

#mainBody{
    padding: 150px;
}

.nav-item {
    font-family: Cambria;
    font-size: 20px;


}

    .nav-item ::deep a {
        border-radius: 4px;
        display: flex;
        align-items: center;
        height: 3rem;
        color: white;
        text-decoration: none;
        padding-left: 20px;


        /*Border and Background color*/
        border: solid;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-width: 3px;
        border-color: medium-purple;
        background-color: mediumpurple;
        border-left: none;
    }


    .nav-item ::deep a:hover {
        background-color: cadetblue;
        border-color: black;
    }

    .nav-item ::deep a:active {
        background-color: forestgreen;
    }